body
{
	background-image: url("image/unnamed.jpg");
	background-attachment: fixed; 
}

nav ul
{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}

nav a
{
	margin: top;
	display: block;
	border-left: 4px white solid; 
	width: 183px;
	text-align: center;
	font-size: 24px;
	color: white;
	text-decoration: none;
}
nav a:hover
{
	text-shadow: white 1px 0 10px;
	background-color: rgba(255,255,255,0.65);
}
#contact
{
	border-right: 4px white solid;
	background-color: rgba(255,255,255,0.65);
}
#conteneur
{
	margin-top: 150px;
	display: flex;
	justify-content: space-around;
}
img
{
	width: 772.75px;
	height:611.25px;
}
footer
{
	margin-top: 80px;
	background-color: rgba(0,0,0,0.88)!important;
	color: white;
}
#follow
{
	text-align: center;
	font-size: 17px;
}
#Privacy
{
	font-size: 9px;
}
#icones
{
	display: flex;
	justify-content: space-around;
}
.icon
{
	width: 30px;
	height: 30px;
}
p,h1
{
	color: white;
}
#con p
{
	font-size: 18px;
}
h1
{
	font-size: 45px;
}
.icone
{
	display: block;
	margin-top: 25px;
	width: 50px;
	height: 50px;
}
#mamail
{
	display: flex;
	flex-direction: column;
}
#con
{
	width: 400px;
	height:250px;
}
@media all and (max-width: 1024px)
{
	#bloc_page
	{
		width: auto;
	}
	img
	{
		width: 772.75px;
		height:611.25px;
		display: block;
		margin: auto;
	}
	#conteneur
	{
		margin-top: 150px;
		display: flex;
		flex-direction: column;
	}
	#cont
	{
		margin-left: 100px;
	}
	#con h1
	{
		margin-left: 100px;


	}
	#con
	{
		display: flex;
		margin-top: 80px;
		flex-direction: row;
	}
	#mamail
	{
		margin-left: 70px;
	}
	.icon
	{			
		width: 55px;
		height: 55px;
	}

}
