body
{
	background-image: url("image/unnamed.jpg");
	background-attachment: fixed; 
}
#titre
{
	color: white;
	font-size: 8em;
	text-align: center;
	font-style: OCR A Std, monospace;
}
#citation
{
	color: white;
	font-size: 3.125em;
	text-align: center;
	font-style: italic;
}
#trailer
{
	display: block;
	margin: auto;
}

#download
{
	display: block;
	font-size: 3em;
	color: black;
	border-radius: 0.5em;
	background-color:white;
	width: 8em;
	margin-top: 3.125em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#download:hover
{
	text-decoration: underline;
	color: grey;
}
ul
{
	margin-top: 5em;
	list-style-type: none;
	display: flex;
}
li
{
	margin: auto;
}
a
{
	font-size: 2.5em;
	color: white;
	text-decoration: none;
}
a:hover
{
	text-shadow: white 0.063em 0 0.625em;
}
footer
{
	margin-top: 5em;
	background-color: rgba(0,0,0,0.88)!important;
	color: white;
}
#follow
{
	text-align: center;
	font-size: 1.063em;
}
#Privacy
{
	font-size: 0.563em;
}
#icones
{
	display: flex;
	justify-content: space-around;
}
.icon
{
	width: 1.3em;
}
@media all and (max-width: 1024px)
{
	#bloc_page
	{
		width: auto;
	}
	.icon
	{			
		width: 55px;
		height: 55px;
	}
}
